
.staff-member-listing {
	overflow: auto;
	margin-right: -20px;
	padding: 6px 0;
	}

.staff-member {
	float: left;
	max-width: 138px;
	height: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	}

.staff-member-photo {
	float: right;
	max-width: 298px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid #A8A8A8;
	}

.staff-icon-social {
	max-width: 32px;
	margin-right: 10px;
	}

#content a img.staff-icon-social {
	border: none;
	padding: 0;
	background: none;
	}